/* move to variables/tokens file */
$font-body: Arial, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
$font-size: 20px;
$color-text: rgba(0, 0, 0);
$color-bg: rgb(201, 196, 196);
$gutter: 8px;
$content-width-max: 840px;

:root {
	font-family: $font-body;
	color: $color-text;
	font-size: $font-size;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

button {
    padding: 8px;
    margin-right: 8px;
}

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.page-root {
	min-height: 100vh;
	display: flex;
	flex-flow: column;
}

header {
	background-color: $color-bg;
	padding: 1rem;
}

main {
	padding: 1rem;
	flex: 1;

  .container {
    max-width: $content-width-max;
  }
}

footer {
	background-color: $color-bg;
	padding: 1rem;
}
