:root {
	/*Declare variables*/
	--font-body: Arial, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-size: 20px;
	--color-text: rgba(0, 0, 0);
	--color-bg: rgb(201, 196, 196);

	/*Set props uisng variables*/
	font-family: var(--font-body);
	color: var(--color-text);
	font-size: var(--font-size);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

button {
    padding: 8px;
    margin-right: 8px;
}

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.page-root {
	min-height: 100vh;
	display: flex;
	flex-flow: column;
}

header {
	background-color: var(--color-bg);
	padding: 1rem;
}
main {
	background-color: aliceblue;
	padding: 1rem;
	flex: 1;
}
footer {
	background-color: var(--color-bg);
	padding: 1rem;
}
